descargas/
*.exe
archive.db
errores.log
lista.txt
*.part
__pycache__/
*.pyc
*.pyo
.vscode/
*.jpg
*.jpeg
*.png
*.webp
*.gif
*.bmp
*.tiff
*.svg
*.heic
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.flv
*.wmv
*.mpeg
*.mpg
*.m4v
